[Desktop Entry]
Version=1.0
Type=Application
Name=Flatcraft+
Comment=Minicraft Plus Revived Flatpak Edition
Exec=flatcraft-plus
Icon=dev.nikoboi.flatcraft-plus-revived
Categories=Game;
